<% include ../views/partials/header %>
<h1><%= title %></h1>
<div class="row">
  <div class="col-md-12">
    <form action="/categories/add" method="post">
      <% if (error_message.length === 0) { %>
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" name="title" placeholder="Insert the category title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" placeholder="Insert the category description"></textarea>
        </div>
        <br>
        <button class="btn btn-primary" name="submit" type="submit">Save</button>
        <a class="btn btn-danger" href="/manage/categories">Back</a>
      <% } else { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p>
            Please check the form
            <br>
          </p>
          <ul>
            <% for (message in error_message){ %>
              <% obj = error_message[message]; %>
              <li><%= obj.msg %></li>
            <% } %>
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <% if (error_message.title) { %>
            <input class="form-control is-invalid" type="text" name="title" placeholder="Insert the category description" value="<%= category_title %>">
          <% } else {%>
            <input class="form-control" type="text" name="title" value="<%= category_title %>">
          <% } %>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <% if (error_message.description) { %>
            <textarea class="form-control is-invalid" name="description" placeholder="Insert the category description"><%= category_description %></textarea>
          <% } else {%>
            <textarea class="form-control" name="description" placeholder="Insert the category description"><%= category_description %></textarea>
          <% } %>
        </div>
        <br>
        <button class="btn btn-primary" name="submit" type="submit">Save</button>
        <a class="btn btn-danger" href="/manage/categories">Back</a>
      <% } %>
    </form>
  </div>
</div>
<% include ../views/partials/footer %>
